<nav class="sf-navbar">
  <div class="container">
    <a class="brand" routerLink="/">
      <span class="dot"></span>
      Smart&nbsp;Factory
    </a>

    <ul class="nav-links">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
        <a routerLink="/">Dashboard</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/machines">Machines</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/activity">Activité</a>
      </li>

      <!-- Liens réservés aux connectés -->
      <ng-container *ngIf="auth.isLoggedIn()">
        <li routerLinkActive="active">
          <a routerLink="/events/new">+ Événement</a>
        </li>
        <li routerLinkActive="active" *ngIf="auth.role()==='admin' || auth.role()==='chef'">
          <a routerLink="/admin">Admin</a>
        </li>
      </ng-container>
    </ul>

    <div class="nav-actions">
      <a *ngIf="!auth.isLoggedIn()" routerLink="/login" class="btn btn-outline">Connexion</a>
      <button *ngIf="auth.isLoggedIn()" class="btn" (click)="auth.logout()">Déconnexion</button>
    </div>
  </div>
</nav>

<main class="sf-main container">
  <router-outlet></router-outlet>
</main>
