/* You can add global styles to this file, and also import other style files */
/* src/styles.scss — micro design system */
h1,
h2,
h3 {
  margin: 0 0 .6rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.05rem;
  color: var(--muted);
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .6rem;
}

.grid {
  display: grid;
  gap: 16px;

  &.cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .grid.cols-3 {
    grid-template-columns: 1fr;
  }
}
